.title {
	text-align: center;
	font-size: 46px;
	margin-bottom: 2rem;
}

.tagline {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 3rem;
}

.row {
	display: flex;

	.col {
		flex: 1;
		flex-shrink: 0;
	}
}
