.title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 2rem;
}

.tagline {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.row {
  display: flex;
  gap: 2rem;

  .col {
    flex: 1;
    flex-shrink: 0;
  }
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 1.2rem;
  }

  button {
    align-self: flex-start;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    border: 1px solid #444;
    color: #444;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: #fff;
      background-color: #444;
    }
  }
}
